container_commands:  
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
- namespace: aws:elasticbeanstalk:container:python
  option_name: WSGIPath
  value: project/wsgi.py
- namespace: aws:elasticbeanstalk:container:python:staticfiles
  option_name: /static/
  value: project/static/
- option_name: DJANGO_SETTINGS_MODULE
  value: project.settings
- option_name: AWS_SECRET_KEY
  value: key_here
- option_name: AWS_ACCESS_KEY_ID
  value: key_here